@import '_base';
@import '_desktop';


@media (max-width: 850px){

    .hero {
        @include grid($column: 1fr, $row: auto);
        grid-template-areas: 
            "fullimg"
            "learnmore-one-pic"
            "learnmore-one"
            "learnmore-two-pic"
            "learnmore-two"
            "learnmore-one-pic-wcap" 
            "learnmore-two-pic-wcap"
        ;
 
        nav {
            @include flex();

            ul {
                display: none;
            }
        }
    }

    /** Hero children **/
    .hero-img {
        min-height: auto;
        
        .caption {
             top: 45%;
             left: 50%;
             transform: translate(-50%, -45%);
             gap: 30px;

            h1{
                font-size: 2.5em;
            }
        }
    }

    .hero-learnmore.one.text, .hero-learnmore.two.text {
        padding: 50px 0;

        .hero-learnmore-wraper {
            @include flex($direction: column, $align: center);
            width: 80%;

            h3 {
                font-size: 2.3em;
            }

            h3, p{
                text-align: center;
            }

            button {
                align-self: center;
            }
        }
    }

    .hero-learnmore-one.pic, .hero-learnmore-two.pic{
        .caption {
            width: 80%;
            h3, p {
                text-align: center;
            }
        }
    }

    //Main
    main {
        @include flex($direction: column, $align: center);
        
        h2 {
            text-align: center;
            font-size: 1.1em;
        }
    }

    .client-wraper {
        @include flex($direction: column);
    }

    //Footer
    /** gallery **/
    .gallery {
        @include grid($column: 1fr 1fr, $row: repeat(2, 1fr));
    }

    footer {

    }
}