* {
  box-sizing: border-box;
}

h1, h3, h5, p, ul, body {
  margin: 0;
  padding: 0;
}

body {
  max-width: 1440px;
  height: auto;
  margin: 0 auto;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  height: 100%;
  width: 100%;
}

/* Body and typography */
body {
  font-family: "Fraunces", Verdana, Geneva, Tahoma, sans-serif;
}

p, a, h5 {
  font-family: "Barlow", Verdana, Geneva, Tahoma, sans-serif;
}

/* Header */
header nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: normal;
}

/** Naviation in hero of header**/
nav {
  padding: 0 3vw;
}
nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: normal;
  align-items: center;
  gap: 35px;
}
nav a {
  font-weight: 600;
}

/**Hero layout using grid**/
.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: reapeat(4, 1fr);
  grid-template-areas: "fullimg fullimg" "learnmore-one learnmore-one-pic" "learnmore-two-pic learnmore-two" "learnmore-one-pic-wcap learnmore-two-pic-wcap";
}
.hero .hero-img {
  grid-area: fullimg;
}
.hero .hero-learnmore.one {
  grid-area: learnmore-one;
}
.hero .hero-learnmore.one.pic {
  grid-area: learnmore-one-pic;
}
.hero .hero-learnmore.two {
  grid-area: learnmore-two;
}
.hero .hero-learnmore.two.pic {
  grid-area: learnmore-two-pic;
}
.hero .hero-learnmore-one.pic {
  grid-area: learnmore-one-pic-wcap;
}
.hero .hero-learnmore-two.pic {
  grid-area: learnmore-two-pic-wcap;
}

/*** Hero children ***/
.hero-img {
  position: relative;
}
.hero-img .logo {
  width: 10em;
}
.hero-img .caption {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -35%);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: normal;
  align-items: center;
  gap: 30px;
}
.hero-img .caption h1 {
  text-align: center;
  color: hsl(0deg, 0%, 100%);
  font-size: 3em;
  font-weight: 900;
  word-spacing: 10px;
}
.hero-img .caption div {
  cursor: pointer;
  transition: 0.3s;
  transform: translateY(0);
}
.hero-img .caption div:hover {
  transition: 0.3s;
  transform: translateY(-10%);
}
.hero-img nav {
  position: absolute;
  top: 5%;
  left: 0;
  right: 0;
}
.hero-img nav a {
  font-family: "Barlow", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
  color: hsl(0deg, 0%, 100%);
}
.hero-img nav #contact {
  padding: 15px 30px;
  border-radius: 30px;
  color: hsl(167deg, 40%, 24%);
  background-color: hsl(0deg, 0%, 100%);
  font-family: "Fraunces", Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 900;
  transition: 0.15s ease-out;
}
.hero-img nav #contact:hover {
  transition: 0.15s ease-in;
  color: hsl(0deg, 0%, 100%);
  background-color: rgba(255, 255, 255, 0.3);
}

#mb-button {
  position: absolute;
  height: 25px;
  width: 35px;
  top: 13%;
  right: 4%;
  display: none;
}
#mb-button #mb-button-bar {
  background-color: hsl(0deg, 0%, 100%);
  width: 100%;
  height: 3px;
}

.triangle {
  display: none;
}

.hero-learnmore {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
.hero-learnmore .hero-learnmore-wraper {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: normal;
  align-items: normal;
  gap: 40px;
  width: 60%;
}
.hero-learnmore h3 {
  font-size: 2.75em;
}
.hero-learnmore p {
  font-size: 18px;
  color: hsl(213deg, 9%, 39%);
  font-weight: 600;
  line-height: 1.75;
}
.hero-learnmore button::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 10px;
  border-radius: 10px;
  bottom: -5%;
  left: -1%;
  z-index: -1;
}
.hero-learnmore.one button::before {
  background-color: #ffeb7a;
  transition: 0.1s;
}
.hero-learnmore.one button:hover::before {
  background-color: hsl(51deg, 100%, 49%);
  transition: 0.1s;
}
.hero-learnmore.two button::before {
  background-color: #ffd2cc;
  transition: 0.1s;
}
.hero-learnmore.two button:hover::before {
  transition: 0.1s;
  background-color: hsl(7deg, 99%, 70%);
}
.hero-learnmore button {
  position: relative;
  font-family: "Fraunces", Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 900;
  font-size: 18px;
  border: none;
  background-color: transparent;
  align-self: flex-start;
  cursor: pointer;
}

.hero-learnmore-one.pic, .hero-learnmore-two.pic {
  position: relative;
}
.hero-learnmore-one.pic .caption, .hero-learnmore-two.pic .caption {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -80%);
}
.hero-learnmore-one.pic .caption, .hero-learnmore-two.pic .caption {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: normal;
  align-items: center;
  gap: 30px;
}
.hero-learnmore-one.pic .caption h3, .hero-learnmore-two.pic .caption h3 {
  font-weight: 900;
  text-align: center;
  font-size: 2em;
}
.hero-learnmore-one.pic .caption p, .hero-learnmore-two.pic .caption p {
  text-align: center;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.5;
}

.hero-learnmore-one.pic h3 {
  color: hsl(167deg, 40%, 24%);
}
.hero-learnmore-one.pic p {
  color: #346a5f;
}

.hero-learnmore-two.pic h3 {
  color: hsl(198deg, 62%, 26%);
}
.hero-learnmore-two.pic p {
  color: #144357;
}

/* Main area */
main {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: normal;
  align-items: center;
  padding: 80px 0;
  gap: 70px;
}
main h2 {
  color: hsl(232deg, 10%, 55%);
  font-weight: 900;
  letter-spacing: 7px;
}

.client-wraper {
  width: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: normal;
  align-items: normal;
  gap: 50px;
}
.client-wraper * {
  flex: 1;
}

.client {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: normal;
  align-items: center;
  gap: 10px;
}
.client p {
  margin-top: 40px;
  text-align: center;
  color: hsl(212deg, 27%, 19%);
  font-weight: 600;
  line-height: 1.5;
}
.client img {
  width: 25%;
  height: auto;
  border-radius: 200px;
}
.client h3 {
  margin-top: 40px;
}
.client h5 {
  color: hsl(232deg, 10%, 55%);
}

/* Footer section */
/** gallery **/
.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: none;
}

footer nav {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 40px;
  background-color: #76bcae;
  padding: 70px 0;
}
footer nav a {
  color: hsl(168deg, 34%, 41%);
}
footer nav a:hover {
  color: hsl(0deg, 0%, 100%);
}
footer nav .social-media {
  margin-top: 50px;
}

@media (max-width: 1100px) {
  .hero-img .caption {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .hero-learnmore.one.text, .hero-learnmore.two.text {
    padding: 50px 0;
  }
  .client img {
    width: 20%;
    height: auto;
    border-radius: 200px;
  }
}
@media (max-width: 850px) {
  .hero {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "fullimg" "learnmore-one-pic" "learnmore-one" "learnmore-two-pic" "learnmore-two" "learnmore-one-pic-wcap" "learnmore-two-pic-wcap";
  }
  /** Hero children **/
  /** gallery **/
}
@media (max-width: 850px) and (max-width: 750px) {
  .hero nav .triangle {
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    top: -15%;
    right: 0;
    border-right: 0 solid transparent;
    border-left: 35px solid transparent;
    border-bottom: 50px solid hsl(0deg, 0%, 100%);
  }
  .hero nav ul {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: normal;
    align-items: center;
    gap: 40px;
    width: calc(100% - 8vw);
    position: absolute;
    top: 100px;
    padding: 50px 30px;
    background-color: hsl(0deg, 0%, 100%);
    transition: 0.2s ease-in;
    transform-origin: top right;
    transform: scale(0);
  }
  .hero nav ul a {
    color: hsl(232deg, 10%, 55%);
  }
  .hero nav ul #contact {
    transition: none;
    background-color: hsl(51deg, 100%, 49%);
  }
  .hero nav ul #contact:hover {
    transition: none;
    background-color: hsl(51deg, 100%, 49%);
  }
  .hero nav ul.active {
    transition: 0.2s ease-in-out;
    transform: scale(1, 1);
  }
  .hero nav #mb-button {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: normal;
  }
}
@media (max-width: 850px) {
  .hero-img {
    min-height: auto;
  }
  .hero-img .caption {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    gap: 30px;
  }
  .hero-img .caption h1 {
    font-size: 3.7em;
  }
}
@media (max-width: 850px) and (max-width: 500px) {
  .hero-img .caption h1 {
    font-size: 10vw;
  }
}
@media (max-width: 850px) {
  .hero-learnmore.one.text .hero-learnmore-wraper, .hero-learnmore.two.text .hero-learnmore-wraper {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: normal;
    align-items: center;
    width: 80%;
  }
  .hero-learnmore.one.text .hero-learnmore-wraper h3, .hero-learnmore.two.text .hero-learnmore-wraper h3 {
    font-size: 2.3em;
  }
  .hero-learnmore.one.text .hero-learnmore-wraper h3, .hero-learnmore.one.text .hero-learnmore-wraper p, .hero-learnmore.two.text .hero-learnmore-wraper h3, .hero-learnmore.two.text .hero-learnmore-wraper p {
    text-align: center;
  }
  .hero-learnmore.one.text .hero-learnmore-wraper button, .hero-learnmore.two.text .hero-learnmore-wraper button {
    align-self: center;
  }
}
@media (max-width: 850px) {
  .hero-learnmore-one.pic .caption, .hero-learnmore-two.pic .caption {
    top: 65%;
    left: 50%;
    transform: translate(-50%, -65%);
  }
}
@media (max-width: 850px) and (max-width: 600px) {
  .hero-learnmore-one.pic .caption, .hero-learnmore-two.pic .caption {
    top: 80%;
    left: 50%;
    transform: translate(-50%, -80%);
  }
}
@media (max-width: 850px) {
  .hero-learnmore-one.pic .caption, .hero-learnmore-two.pic .caption {
    width: 80%;
  }
  .hero-learnmore-one.pic .caption h3, .hero-learnmore-one.pic .caption p, .hero-learnmore-two.pic .caption h3, .hero-learnmore-two.pic .caption p {
    text-align: center;
  }
}
@media (max-width: 850px) {
  main {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: normal;
    align-items: center;
  }
  main h2 {
    text-align: center;
    font-size: 1.1em;
  }
}
@media (max-width: 850px) {
  .client-wraper {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: normal;
    align-items: normal;
  }
}
@media (max-width: 850px) {
  .gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, 1fr);
  }
}

/*# sourceMappingURL=style.css.map */
